
config CRYPTO_COMP_SELFTEST
       tristate "Compression Self-Testing module"
       help
         Configurable Compression Self-Testing using debugfs interface.
         This allows you to compress and decompress buffers of variable
         offsets, lengths, and data, using different compressors.  Also
         the average bytes per second rate for compression/decompression
         can be calculated.

